body {
    font-family: sans-serif;
    background-color: rgb(212, 255, 241);

}
.vintage{
    background-color: black;
    width:200px ;
}
.vintage img{
    width:150px;
}

.sales{
    display: flex;

}
.sales p{
    position: relative;
    right: 120px;
    top:40px;
    font-size: 30px;
}
.t{
    display: flex;
}
.t div{
    margin: 20px;
}

.t a{
    color: black;
    background-color: gray;
    text-decoration: none;
    border-radius:15px;
    margin: 25px;
    padding: 10px;
}
h2{
    text-align: center;
        padding: 10px;
        font-size: 30px;
}
article{
    display: flex;
    padding:20px;
}
article img{
    width: 250px;
}
article div{
margin: 20px;    
}
.sales p{
    color: white;
    font-size: 15px;
}
footer {
    display: flex;
    padding: 10px;
    background-color: lightblue;
}
footer div{
    margin: 10px;
    justify-content: space-around;
}
nav a{
    color:black;
    text-decoration: none;
    background-color:lightblue;
    border-radius: 15px;
    margin: 25px;
    padding: 10px;
}
nav{
    margin:25px;
    background-color: rgb(54, 102, 102);
    padding: 20px;
}
.t a{
    background-color:lightblue ;
}
a:hover{
background-color: coral;
transition: 3s;
}
.vintage{
    width: 30%;
}
